@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PcBuilder.Data.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="login-nav mb-2 mb-lg-0" style="list-style: none; display: flex; margin-left: 18%; justify-content: end; padding: 0;">
	@if (SignInManager.IsSignedIn(User))
	{
		var signedInUser = await UserManager.GetUserAsync(User);

		<li class="nav-item">
			<a class="nav-link" asp-controller="User" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" title="Manage">Hello @signedInUser.FirstName</a>
		</li>
		<li class="nav-item">
			<form class="form-inline" asp-controller="User" asp-action="Logout" method="post">
				<button type="submit" class="btn btn-primary">Logout</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link" asp-controller="User" asp-action="Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-controller="User" asp-action="Login">Login</a>
		</li>
	}
</ul>