.add-product-form .form-label {
    font-weight: bold;
    color: #555;
}

.add-product-form .form-control, .add-product-form .form-select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
}
